<section id="accelerated_rd">
    <div class="container">
        <h1>Research suggests that A.I. approaches offer significant acceleration</h1>
        <div class="content-box">
            <div class="main-graphics">
                <div class="graph">
                    <figure>
                        <!-- <img src="./../assets/img/accelerated_rd/F1_prediction.png" alt="Trulli"> -->
                        <canvas id="myChart"></canvas>
                        <figcaption>Only 40 data points = 3x improvement!</figcaption>
                    </figure>
                </div>
                <div class="graph">
                    <figure>
                        <canvas id="myChart_2"></canvas>
                        <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
                    </figure>
                </div>
            </div>
            <div class="screenshots">
                <div class="screenshot">
                    <figure>
                        <img src="./../assets/img/accelerated_rd/standford_news.png" alt="Trulli">
                    </figure>
                    <figure>
                        <img src="./../assets/img/accelerated_rd/ai_algo.png" alt="Trulli">
                    </figure>
                </div>
                <div class="screenshot">
                    <figure>
                        <img src="./../assets/img/accelerated_rd/7_news.png" alt="Trulli">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>