<section id="dr-sendek" class="l-bg">
    <h1>Dr. Sendek Stanford PhD</h1>
    <h4 class="fancy-little-h">Case Study</h4>
    <div class="container">
        <div class="content">
            <div class="case-study">
                <div data-aos="fade-up-right" data-aos-offset="100" data-aos-delay="200" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center" class="case-study-graph">
                    <div class="device tablet landscape">
                        <div class="device-content">
                            <figure>
                                <img src="./../assets/img/models/model_1.png" alt="Model A">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="case-study-points">
                    <h2>Dr. Sendek Stanford PhD</h2>
                    <div class="">
                        <p>
                            Using the Aionics platform to train a model on performance data from 200 unique electrolyte formulations and screen thousands of new formulations, one Aionics customer was able to identify promising new formulations with a 10x acceleration over random
                            guesswork
                        </p>
                        <a href="{{ case.url }}" class="case-url">Learn more <span><i class="fas fa-arrow-circle-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="literature-example">
    <h1>Literature Examples of Excellence</h1>
    <h4 class="fancy-little-h">Case Study</h4>
    <div class="container">
        <div class="content">
            <div class="case-study">
                <div class="case-study-points">
                    <h2>Literature Examples of Excellence</h2>
                    <div class="">
                        <p>
                            Using the Aionics platform to train a model on performance data from 200 unique electrolyte formulations and screen thousands of new formulations, one Aionics customer was able to identify promising new formulations with a 10x acceleration over random
                            guesswork
                        </p>
                        <a href="{{ case.url }}" class="case-url">Learn more <span><i class="fas fa-arrow-circle-right"></i></span></a>
                    </div>
                </div>
                <div class="case-study-graph">
                    <div data-aos="fade-left" data-aos-offset="100" data-aos-delay="200" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center" class="device tablet landscape">
                        <div class="device-content">
                            <figure>
                                <img src="./../assets/img/models/model_1.png" alt="Model A">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-study-points mobile-only">
                <div class="">
                    <p>
                        Using the Aionics platform to train a model on performance data from 200 unique electrolyte formulations and screen thousands of new formulations, one Aionics customer was able to identify promising new formulations with a 10x acceleration over random
                        guesswork
                    </p>
                    <a href="{{ case.url }}" class="case-url">Learn more <span><i class="fas fa-arrow-circle-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="electrolyte-a" class="l-bg">
    <h1>Electrolyte formulation A</h1>
    <h4 class="fancy-little-h">Case Study</h4>
    <div class="container">
        <div class="content">
            <div class="case-study">
                <div data-aos="fade-right" data-aos-offset="100" data-aos-delay="200" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center" class="case-study-graph">
                    <h2 class="mobile-c-name">Electrolyte formulation A</h2>
                    <div class="device tablet landscape">
                        <div class="device-content">
                            <figure>
                                <img src="./../assets/img/models/model_1.png" alt="Model A">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="case-study-points">
                    <div class="">
                        <h2>Electrolyte formulation A</h2>
                        <p>
                            Using the Aionics platform to train a model on performance data from 200 unique electrolyte formulations and screen thousands of new formulations, one Aionics customer was able to identify promising new formulations with a 10x acceleration over random
                            guesswork
                        </p>
                        <a href="{{ case.url }}" class="case-url">Learn more <span><i class="fas fa-arrow-circle-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="electrolyte-b">
    <h1>Electrolyte formulation B</h1>
    <h4 class="fancy-little-h">Case Study</h4>
    <div class="container">
        <div class="content">
            <div class="case-study">
                <div class="case-study-points">
                    <div class="">
                        <h2>Electrolyte formulation B</h2>
                        <p>
                            Using the Aionics platform to train a model on performance data from 200 unique electrolyte formulations and screen thousands of new formulations, one Aionics customer was able to identify promising new formulations with a 10x acceleration over random
                            guesswork
                        </p>
                        <a href="{{ case.url }}" class="case-url">Learn more <span><i class="fas fa-arrow-circle-right"></i></span></a>
                    </div>
                </div>
                <div data-aos="fade-left" data-aos-offset="100" data-aos-delay="200" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center" class="case-study-graph">
                    <h2 class="mobile-c-name">Electrolyte formulation B</h2>
                    <div class="device tablet landscape">
                        <div class="device-content">
                            <figure>
                                <img src="./../assets/img/models/model_1.png" alt="Model A">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="case-study-points mobile-only">
                <div class="">
                    <p>
                        Using the Aionics platform to train a model on performance data from 200 unique electrolyte formulations and screen thousands of new formulations, one Aionics customer was able to identify promising new formulations with a 10x acceleration over random
                        guesswork
                    </p>
                    <a href="{{ case.url }}" class="case-url">Learn more <span><i class="fas fa-arrow-circle-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</section>