<section id="data" class="l-bg">
    <div class="container">
        <h1>Data section</h1>
        <div class="content">
            <div class="ep-driver">
                <div data-aos="fade-up-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center" class="ep-driver-graph">
                    <div class="device laptop">
                        <div class="device-content">
                            <figure>
                                <img src="./../assets/img/models/model_1.png" alt="Model A">
                            </figure>
                        </div>
                    </div>

                </div>
                <div class="ep-driver-points">
                    <ul class="no-style">
                        <li>['Electrolyte: Model Sixe', -0.4],</li>
                        <li>['Separator thickness', -0.5], </li>
                        <li>['CathodeSintering temperature', 0.03], </li>
                        <li>['Cathode Particle Size', 0.25], </li>
                        <li>['Electrolyte: Polarity', 1.5]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>