<section id="data">
    <div class="container">
        <h1>Data section</h1>
        <div class="content">
            <div class="ep-driver">
                <div class="ep-driver-graph">
                    <div class="device laptop">
                        <div class="device-content">
                            <figure>
                                <!-- <img src="./../assets/img/accelerated_rd/F1_prediction.png" alt="Trulli"> -->
                                <canvas id="ep-driver-chart"></canvas>
                            </figure>
                        </div>
                    </div>

                </div>
                <div class="ep-driver-points">
                    <ul class="no-style">
                        <li>['Electrolyte: Model Sixe', -0.4],</li>
                        <li>['Separator thickness', -0.5], </li>
                        <li>['CathodeSintering temperature', 0.03], </li>
                        <li>['Cathode Particle Size', 0.25], </li>
                        <li>['Electrolyte: Polarity', 1.5]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>