<footer id="footer">
    <div class="container">
        <div class="footer-content">
            <div class="copy">
                <span>© 2020</span>
                <span><a href="index.html">Aionics, Inc.</a></span>
            </div>
            <div class="social-links">
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-medium"></i>
            </div>
            <div class="f-links">
                <a href="terms-and-conditions.html">Terms of Use</a>
                <a href="privacy-policy.html">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>