<footer id="footer">
    <div data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center" class="footer-logo">
        <div class="container">
            <a href="/"><img src="{{site.baseurl}}/assets/img/favicon.gif" alt="AIONICS Logo"></a>
        </div>
    </div>
    <div class="b-footer">
        <div class="container">
            <div class="footer-content">
                <div class="copy">
                    <span>© 2020</span>
                    <span><a href="index.html">Aionics, Inc.</a></span>
                </div>
                <div class="social-links">
                    <span><i class="fab fa-twitter-square"></i></span>
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-linkedin"></i></span>
                    <span><i class="fab fa-medium"></i></span>
                </div>
                <div class="f-links">
                    <a href="terms-and-conditions.html">Terms of Use</a>
                    <a href="privacy-policy.html">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>