<footer id="footer">
    <div id="footer-a">
        <div class="container">
            <div class="footer-links-sections">
                <div class="f-quick-links f-section">
                    <p>Aionics, Inc.</p>
                    <img src="{{site.baseurl}}/assets/img/AIONICS_black_logo.png" alt="AIONICS Logo">
                    <p>The Aionics platform enables us to seamlessly implement machine learning models on our in-house data in real time, which brings another layer of rigorous analysis to help identify the chemical features driving performance that we care about most</p>
                </div>
                <div class="f-categories f-section">
                    <p class="">Top Case studies</p>
                    <ul class="footer-links">
                        <li><a href="about-us.html"> About Us</a></li>
                        <li><a href="contact-us.html"> Contact Us</a></li>
                        <li><a href="blog.html"> Blog</a></li>
                        <li><a href="help-support.html"> Help Center</a></li>
                    </ul>
                </div>
                <div class="f-types f-section">
                    <p>Another link</p>
                    <ul class="footer-links">
                        <li><a href="about-us.html"> About Us</a></li>
                        <li><a href="contact-us.html"> Contact Us</a></li>
                        <li><a href="blog.html"> Blog</a></li>
                        <li><a href="help-support.html"> Help Center</a></li>
                    </ul>
                </div>
                <div class="f-newsletter f-section">
                    <p>Newsletter Subscription</p>
                    <!-- <p>Subscribe to receive email updates on news in Poblysh, sales promotion tips, events, open tenders and more. <a class="unsubscribe-link">Unsubscribe anytime</a></p> -->
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                    <script>
                        hbspt.forms.create({
                            portalId: "7355218",
                            formId: "a79f8219-366f-4fca-b1e6-8f474f863a09"
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="footer-content">
            <div class="copy">
                <span>© 2020</span>
                <span><a href="index.html">Aionics, Inc.</a></span>
            </div>
            <div class="social-links">
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-medium"></i>
            </div>
            <div class="f-links">
                <a href="terms-and-conditions.html">Terms of Use</a>
                <a href="privacy-policy.html">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>