<footer id="footer">
    <div id="footer-a">
        <div class="container">
            <div class="footer-links-sections">
                <div class="f-quick-links f-section">
                    <img src="{{site.baseurl}}/assets/img/AIONICS_w_logo.png" alt="AIONICS Logo">
                    <p>The Aionics platform enables us to seamlessly implement machine learning models on our in-house data in real time, which brings another layer of rigorous analysis to help identify the chemical features driving performance that we care about most</p>
                    <div class="social-links">
                        <span><i class="fab fa-twitter-square"></i></span>
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-linkedin"></i></span>
                        <span><i class="fab fa-medium"></i></span>
                    </div>
                </div>
                <div class="f-categories f-section">
                    <p class="">Top Case studies</p>
                    <ul class="footer-links">
                        <li><a href="about-us.html"> ML for batteries </a></li>
                        <li><a href="contact-us.html"> ML for batteries 2</a></li>
                        <li><a href="blog.html"> ML for batteries 3</a></li>
                    </ul>
                </div>
                <div class="f-types f-section">
                    <p>Quick Links</p>
                    <ul class="footer-links">
                        <li><a href="about-us.html"> About Us</a></li>
                        <li><a href="contact-us.html"> Contact Us</a></li>
                        <li><a href="blog.html"> Blog</a></li>
                        <li><a href="help-support.html"> Help Center</a></li>
                    </ul>
                </div>
                <div class="f-types f-section">
                    <p>Contact Us</p>
                    <ul class="footer-links">
                        <li><a href="about-us.html"> About Us</a></li>
                        <li><a href="contact-us.html"> Contact Us</a></li>
                        <li><a href="blog.html"> Blog</a></li>
                        <li><a href="help-support.html"> Help Center</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="footer-content">
            <div class="copy">
                <span>© 2020</span>
                <span><a href="index.html">Aionics, Inc.</a></span>
            </div>
            <div class="f-links">
                <a href="terms-and-conditions.html">Terms of Use</a>
                <a href="privacy-policy.html">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>