<!-- <header id="header">
    <div class="container">
        <nav class="navbar">
            <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
                    <i class="fa fa-bars"></i>
                </label>
            <a href="#" class="logo">
                <img src="./../assets/img/AIONICS_w_Logo.png" alt="AIONICS Logo ">
            </a>
            <input type="checkbox" id="chkToggle"></input>
            <ul class="main-nav" id="js-menu">
                <li>
                    <a href="/" class="nav-links">Home</a>
                </li>
                <li>
                    <a href="#" class="nav-links">Case Studies</a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/about-us.html" class="nav-links">About Us</a>
                </li>
                <li>
                    <a href="#" class="nav-links">News</a>
                </li>
            </ul>
        </nav>
    </div>
</header> -->
<header id="header" class="navigation">
    <div class="container">
        <div class="brand">
            <a href="/" class="logo">
                <img src="./../assets/img/AIONICS_c_logo.png" alt="AIONICS Logo">
            </a>
        </div>
        <nav>
            <div class="nav-mobile">
                <a id="nav-toggle" href="#!"><span></span></a>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About</a></li>
                <li><a href="#!">Case Studies</a>
                    <ul class="nav-dropdown">
                        <li><a href="#!">Web Design</a></li>
                        <li><a href="#!">Web Development</a></li>
                        <li><a href="#!">Graphic Design</a></li>
                    </ul>
                </li>
                <li><a href="/blog/">News</a></li>
            </ul>
        </nav>

    </div>
</header>