<section id="overview">
    <div class="container">
        <h1>Overview section</h1>
        <div class="aionics-cards">
            <div class="aionic-card">
                <h3>Tools</h3>
                <ul class="no-style">
                    <li>Automated, simple machine learning modeling</li>
                    <li>Analysis of underlying data structure and features</li>
                    <li>Optimization of processing procedures</li>
                    <li>Screening over millions of candidate materials</li>
                </ul>
            </div>
            <div class="aionic-card">
                <h3>Data</h3>
                <ul class="no-style">
                    <li>Materials data repositories</li>
                    <li>Custom data ingestion</li>
                    <li>Management services</li>
                    <li>Custom data scraping</li>
                    <li>Data infrastructure</li>
                </ul>
            </div>
            <div class="aionic-card">
                <h3>Consulting</h3>
                <ul class="no-style">
                    <li>Expertise in battery modeling with machine learning</li>
                    <li>Highly flexible project structure</li>
                    <li>Machine learning training</li>
                    <li>Our goal is to help you build your internal machine learning efforts</li>
                </ul>
            </div>
        </div>
    </div>
</section>