<section id="project-structure">
    <div class="container">
        <h1>Typical project structure and risk management</h1>
        <div class="content">
            <div class="phases">
                <div class="phase">
                    <h3>Phase 1: Pipeline construction 0-6 months; </h3>
                    <span>consulting fee</span>
                    <img src="" alt="">
                </div>
                <div class="phase">
                    <h3>Phase 1: Pipeline construction 0-6 months; </h3>
                    <span>consulting fee</span>
                    <img src="" alt="">
                </div>
                <div class="phase">
                    <h3>Phase 1: Pipeline construction 0-6 months; </h3>
                    <span>consulting fee</span>
                    <img src="" alt="">
                </div>
                <div class="phase">
                    <h3>Phase 1: Pipeline construction 0-6 months; </h3>
                    <span>consulting fee</span>
                    <img src="" alt="">
                </div>
            </div>
            <div class="ss">

            </div>
        </div>
    </div>
</section>