<section id="project-structure">
    <div class="container">
        <h1>Typical project structure and risk management</h1>
        <div class="p-head-s">
            <p>We seek to mitigate risk by combining deliverables of varying risk: </p>
            <p>Lower risk deliverables: Data management, candidate material scraping, historical data analysis</p>
            <p>Higher risk deliverables: Machine learning model predictions </p>
        </div>
        <div class="content">
            <div class="phases">
                <div class="phase">
                    <div class="phase-header">
                        <h4>Phase 1</h4>
                        <div class="phase-graphic">
                            <span><i class="fas fa-filter"></i></span>
                        </div>
                        <h3>Pipeline construction</h3>
                    </div>
                    <div class="phase-content">
                        <p>0-6 months consulting</p>
                    </div>
                </div>
                <div class="phase">
                    <div class="phase-header">
                        <h4>Phase 2.1</h4>
                        <div class="phase-graphic">
                            <span><i class="fas fa-laptop-code"></i></span><i class="fas fa-plus"></i> <span><i class="fas fa-chalkboard-teacher"></i></span>
                        </div>
                        <h3>Deployment & Training</h3>
                    </div>
                    <div class="phase-content">
                        <p>1 week</p>
                    </div>
                </div>
                <div class="phase">
                    <div class="phase-header">
                        <h4>Phase 2.2</h4>
                        <div class="phase-graphic">
                            <span><i class="fas fa-laptop-code"></i></span> <i class="fas fa-plus"></i> <span><i class="fas fa-users"></i></span>
                        </div>
                        <h3>Potential Consulting</h3>
                    </div>
                    <div class="phase-content">
                        <p>Development as requested</p>
                    </div>
                </div>
                <div class="phase">
                    <div class="phase-header">
                        <h4>Phase 3</h4>
                        <div class="phase-graphic">
                            <span><i class="fas fa-cloud-upload-alt"></i></span><i class="fas fa-plus"></i> <span><i class="fas fa-headset"></i></span>
                        </div>
                        <h3>Supported Deployment</h3>
                    </div>
                    <div class="phase-content">
                        <p>MATLAB-like licensing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>