<section data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center" id="valued_proposition">
    <div class="container">
        <h1>Valued Proposition</h1>
        <div class="v-head-s">
            <p>The Aionics platform provides unique value to research teams</p>
        </div>
        <div class="content">
            <div class="vps">
                <div class="vp">
                    <button class="accordion">Automatic application of machine learning to unique in-house data</button>
                    <div class="vp-body">
                        <p>Platform automatically computes “fingerprints” of solids, liquids, and additives, and executes one-click training of machine learning models</p>
                    </div>
                </div>
                <div class="vp">
                    <button class="accordion">Access to models from scientific community (“pre-trained models”):</button>
                    <div class="vp-body">
                        <p>Provides access to new machine learning models as they are published by the scientific community; customers can append their own data to re-train models</p>
                    </div>
                </div>
                <div class="vp">
                    <button class="accordion">Automatic screening of large candidate sets</button>
                    <div class="vp-body">
                        <p>Models trained in the platform can be automatically applied to >200,000 candidate materials</p>
                    </div>
                </div>
                <div class="vp">
                    <button class="accordion">Scientific insights</button>
                    <div class="vp-body">
                        <p>The details of trained machine learning models are used to elucidate which chemical factors are driving performance the most, providing scientific insights to the user</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>