#case-study {
	background-color: #fbfafa;
}
.case-study {
	display: flex;
	justify-content: space-between;
}
.case-study-graph,
.case-study-points {
	width: 48.5%;
}
.case-study-points {
	display: flex;
	align-items: center;
	padding: 0 30px;
}
.case-study-points ul{
	list-style: decimal-leading-zero;
}
.case-study-points ul li {
	line-height: 1.2;
	font-size: 20px;
	margin-bottom: 15px;
}
.case-study-points ul li::marker{
	color: #159393;
}
@media screen and ( max-width: 480px ){
    .case-study {
		display: block;
	}
	.case-study-graph, .case-study-points {
		width: 90%;
		padding: 20px;
	}
}