.case-study {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* .case-study-graph,
.case-study-points {
	width: 48.5%;
} */

.case-study-graph {
    width: 55%;
}

.case-study-points {
    padding: 0 50px;
    width: 50%;
}

.case-study-points ul {
    list-style: decimal-leading-zero;
}

.case-study-points ul li {
    line-height: 1.2;
    font-size: 20px;
    margin-bottom: 15px;
}

.case-study-points ul li::marker {
    color: #159393;
}

.case-study-points p {
    font-size: 20px;
    /* padding: 0 25px; */
}

.mobile-c-name {
    display: none;
}

.case-study {
    min-height: 50vh;
}
.fancy-little-h{
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	color: #159393;
	margin-bottom: 40px;
}
.mobile-only{
	display: none;
}

@media screen and ( max-width: 480px) {
    .case-study {
        display: flex;
        flex-wrap: wrap;
	}
	.mobile-only{
		display: block;
	}
	.fancy-little-h {
		margin-bottom: -5px;
	}
    .case-study-graph,
    .case-study-points {
        width: 100%;
        padding: 20px;
    }
    .l-bg .case-study,
    #electrolyte-b .case-study {
        flex-direction: row-reverse;
    }
    .mobile-c-name {
        display: block;
    }
    .case-study-points h2 {
        display: none;
    }
    section .case-study-graph h2 {
        line-height: 1.2;
        margin-bottom: 25px;
        font-size: 25px;
        text-align: center;
	}
	.case-study-points p {
		font-size: 16px;
	}
	/* Literature Examples mmobile tweaks */
	#literature-example .case-study .case-study-points,
	#literature-example .case-study .case-study-graph h2 {
		display: none;
	}
	#literature-example .case-study {
		flex-direction: row;
		display: inline;
	}
	/* Electrolyte formulation mmobile tweaks */
	#electrolyte-b .case-study .case-study-points,
	#electrolyte-b .case-study .case-study-graph h2 {
		display: none;
	}
	#electrolyte-b .case-study {
		flex-direction: row;
		display: inline;
	}
}