#hero {
	background-image: url(../img/AIONICS_fav.png);
	background-color: rgba(2, 156, 191, 0.03);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;
	padding: 40px 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.hero-cta {
    margin-top: auto;
	text-align: center;
	font-size: 30px;
	padding: 0;
}
.particles-js-canvas-el {
	max-height: 45vh;
	object-fit: cover;
}

@media screen and ( max-width: 480px ){
	.particles-js-canvas-el {
		max-height: 60vh;
	}
	#hero {
		background-position: center 30%;
		background-size: 25%;
	}
	.hero-cta {
		font-size: 24px;
		padding: 0 20px;
	}
}