#hero {
	background-image: url(../img/AIONICS_favicon.png);
	background-color: rgba(2, 156, 191, 0.03);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding: 15px;
	background-size: 15%;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.hero-cta {
    margin-top: auto;
    text-align: center;
    padding: 20px;
}
.particles-js-canvas-el {
	max-height: 62vh;
	object-fit: cover;
}