/* #header {
    font-size: 18px;
    background:#159393;
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links{
    text-decoration: none;
    color: rgba(255, 255, 255);
  }
  .nav-links:hover{
    color: rgba(255, 255, 255, 0.3);
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
  }
  .logo img{
      width: 100%;
  }
  .logo {
	width: 220px;
}
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }
  
  #chkToggle {
    display: none;
  }
  
  #chkToggle:checked + ul.main-nav {
    display: block;
  } */


/*   
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 55px;
      align-items: center;
    }
  
    #chkToggle:checked + ul.main-nav {
      display: flex;
    }
  
    .main-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  #pinContainer {
		height: 100%;
		overflow: hidden;
	}
	.panel {
		height: 100%;
		position: absolute;
  } */

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #f7fcfd;
    color: #222;
    text-decoration: none;
}
nav .nav-dropdow li a{
  background: #f7fcfd;
}

nav ul li a:hover {
    background: #f7fcfd;
    color: #159393;
}

nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    display: none;
}

.nav-mobile {
    position: absolute;
    top: 0;
    right: 0;
    background: #f7fcfd;
    height: 70px;
    width: 70px;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
}

.logo img {
    width: 100%;
}

.logo {
    width: 220px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
    }
    nav {
        width: 100%;
        padding: 70px 0 15px;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
    nav ul li ul li a {
        padding-left: 30px;
    }
    .nav-dropdown {
        position: static;
    }
    nav ul {
        display: none;
    }
    #nav-toggle {
        position: absolute;
        left: 18px;
        top: 22px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
    }
    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: #159393;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }
    #nav-toggle span:before {
        top: -10px;
    }
    #nav-toggle span:after {
        bottom: -10px;
    }
    #nav-toggle.active span {
        background-color: transparent;
    }
    #nav-toggle.active span:before,
    #nav-toggle.active span:after {
        top: 0;
    }
    #nav-toggle.active span:before {
        transform: rotate(45deg);
    }
    #nav-toggle.active span:after {
        transform: rotate(-45deg);
    }
}

@media screen and (min-width: 800px) {
    .nav-list {
        display: block !important;
    }
}

.navigation {
    height: 70px;
    background: #f7fcfd;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
}

.brand a,
.brand a:visited {
    color: #222;
    text-decoration: none;
}