.aionics-cards {
    display: flex;
    justify-content: space-between;
}
.aionic-card:nth-child(2) {
	/* width: 20%; */
    padding: 25px;
    background-color: #159393;
}
.aionic-card {
	color: #fff;
	background-color: var(--aionics-blue);
	border-color: var(--aionics-gray);
    border-radius: 3px;
    width: 33.1%;
    padding: 25px;
}
.aionic-card h3 {
	font-size: 20px;
	line-height: 2.2;
}
.aionic-card ul {
	list-style: disclosure-closed;
	padding:0 18px;
}
.aionic-card li {
    line-height: 1.5;
}

/* .aionic-card:hover {
    transform: scale(1.1);
} */