.testimonials img {
    width: 100%;
}

.testimonials .client-area .author {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
}

.testimonials .item {
    width: 64%;
    margin: auto;
    text-align: center;
}

.testimonials .client-area .img .icon {
    width: 50px;
    top: 70px;
    position: absolute;
}

.testimonials .left-icon {
    left: 40%;
}

.testimonials .right-icon {
    right: 40%;
}

.testimonial-header {
    display: flex;
}

.testimonials .client-area h6 {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.testimonials .client-area span {
    font-size: 14px;
    letter-spacing: 1px;
    color: #159393;
}

.testimonials .client-area {
    margin-bottom: 30px;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: inherit;
}
.top-line{
    top: 0%;
    width: 1px;
    height: 100%;
    background-color: #2a2a2a;
    -webkit-animation: cta-arrowdown-line 3s infinite ease-out 0ms backwards;
    animation: cta-arrowdown-line 3s infinite ease-out 0ms backwards;
}

@media screen and ( max-width: 480px ){
	.testimonials .right-icon {
        right: 25%;
    }
    .testimonials .left-icon {
        left: 25%;
    }
    .testimonials .item {
        width: 90%;
    }
}